<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manage Credentials</title>
</head>
<body>
<table id="usertable">
<tr th:each="c : ${credlist}">
<td th:text="${c.employeeuid}"></td><td th:text="${c.employeepwd}"></td><td><a th:href="'/home/editCredentials/' + ${c.employeeid}">Edit</a></td><td><a th:href="'/home/delCredentials/' + ${c.employeeid}">Delete</a></td>
</tr>
<tr><td><a th:href="@{/home/createCredentials}">Add User</a></td><td><a th:href="@{/admin}">Back to Home</a></td></tr>
</table>
</form>
</body>
</html>