<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body style="text-align: center">
	<a href="/home">Home</a>
	<a href="/home/viewEmployee"> View User</a>
	<br>
	<h1>Edit Employee</h1>

	<form action="#" th:action="@{/home/edit/{id} (id=${user.employeeid})}"
		th:object="${user}" method="post">
		<table id="usertable">
			<tr>
				<td>Employee Name:</td>
				<td><input type="text" th:field="*{employeename}"></td>
				<td th:if="${#fields.hasErrors('employeename')}"
					th:errors="*{employeename}"></td>
			</tr>
			<tr>
				<td>Employee Role:</td>
				<td><input type="text" th:field="*{employeediv}"></td>
				<td th:if="${#fields.hasErrors('employeediv')}"
					th:errors="*{employeediv}">
			</tr>
			<tr>
				<td>Employee Contact:</td>
				<td><input type="text" th:field="*{employeecontact}"></td>
				<td th:if="${#fields.hasErrors('employeecontact')}"
					th:errors="*{employeecontact}">
			</tr>
			<tr>
				<td>Employee Email:</td>
				<td><input type="text" th:field="*{employeemail}"></td>
				<td th:if="${#fields.hasErrors('employeemail')}"
					th:errors="*{employeemail}">
			</tr>
							<tr>
					<td>Employee Approver:</td>
					<td><select th:field="*{reportsto}">
					<option th:each="user : ${users}" th:value="${user.employeeid}"
								th:text="${user.employeename}"></option>
					</select></td>
<!-- 					<td th:if="${#fields.hasErrors('reportsto')}"
						th:errors="*{reportsto}"></td> -->
				</tr>
			<tr>
				<td>Leave Entitled/ days:</td>
				<td><input type="text" th:field="*{leaveentitled}"></td>
				<td th:if="${#fields.hasErrors('leaveentitled')}"
					th:errors="*{leaveentitled}"></td>
			</tr>
			<tr>
				<td>Compensation/ hours:</td>
				<td><input type="text" th:field="*{comphours}"></td>
				<td th:if="${#fields.hasErrors('comphours')}"
					th:errors="*{comphours}"></td>
			</tr>
		</table>

		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset">
		</p>
	</form>

</body>
</html>